:root{

  --white: #f0f0f0;
  --blue: #102641;
  --pink: #c05f88;
  --beige: #e8ba9c;

  --box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

  --h1:9.683rem;
  --h2:3.493rem;
}
html{
  font-size: 10px;
}
#app{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1.5% 3.5% 0% 3.5%;
}
#app2{
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container{
  width: 100%;
  height: 200px;
}

.card {
  width: 40rem;
  height: 60rem;
  margin-top: 2%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

  .card-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
  }

  .card-title {
    position: absolute;
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
    inset: auto auto 30px 30px;
    background-color: var(--white);
    color: var(--blue);
    padding: 0% 2% 0% 2%;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-weight: normal;
    text-transform: uppercase;
  }

  .card-desc{
    position: absolute;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    background-color: var(--white);
    color: var(--blue);
    opacity: 0;
    max-width: 80%;
    padding: 5% 5% 5% 5%;
    transition: opacity 0.3s ease-out;
    inset: auto auto 50px 30px;
  }

  &:hover .card-title{
    inset: auto auto 220px 30px;
    transition: inset 0.3s ease-out;
  }

  &:hover .card-desc{
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }

  &:hover .card-img{
    transition: opacity 0.3s ease-in;
    opacity: 1;
  }
}
#flexblox{
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.material-symbols-outlined {
vertical-align: middle;
}

button{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  appearance: none;
  background-color: var(--white);
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--blue);
  cursor: pointer;
  display: inline-block;
  margin: .5% .5% 0% .5%;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  height: 10%;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}