:root{
  --dark-blue: #135cc5;
  --orange: #ff7730;
  --primary: var(--orange);



  --h1:7.594rem;
  --h2:5.063rem;
}
.dark{
  --primary: var(--orange);
}
.light{

}
body{
  background-color: var(--orange);
}